/* reset */
html,body,* {-webkit-text-size-adjust:none;-webkit-user-select:none;padding:0;margin:0;}
ul,li{list-style:none;}
#view{font:nomral 16px TrebuchetMS;position:relative;}
/* debug */
/*.button{background:rgba(0,0,0,0.3);}*/

#showBigImg{  position:absolute; left:0; top:0; pointer-events:none; z-index:110; }
#showBigImg.show{  pointer-events:auto;  }


#showBigImg_nav{ }
#showBigImg_nav li{ pointer-events:auto;}






#showBigImg_showbox{ width: 768px; height: 1024px; ;background: rgba(0,0,0,0.8);opacity:0; 
 display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack:center;
  -webkit-box-align: center  ;
  -webkit-transition:opacity 0.5s; 
  }


.show #showBigImg_showbox{opacity:1;}
#showBigImg_showbox>div{ -webkit-transform:scale(0); -webkit-transition:-webkit-transform 0.5s;}
.show #showBigImg_showbox>div{ -webkit-transform:scale(1); }


#prompt{ position:absolute; z-index:50;}



