*{ padding:0; margin:0}
.canvasHolder{ width:768px; height:1024px; overflow:hidden;}

       #scroll{ width:768px; height:1024px; overflow:hidden; position:absolute; left:0; top:0;}
	   #scroll>ul { width:768px;}
	   #scroll li{ width:768px; height:1024px; position:relative;}
	   #scroll li>img{ display:block; position:absolute; left:0; top:0;}
	 